* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
   
}

body {
    background-image: url(original%20copy.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100%;
}
.container {
    height: 100%;
    width: 100%;

}

.header {
    height: 175px;
    background: transparent;
    font-size: 175%;
}

.header ul {
    display: inline-flex;
    margin: 50px;
    
}

.header ul li {
    list-style: none;
    margin: 20px 20px;
    color: #b2b1b1;
    cursor: pointer;
    text-align: center;
    
}

.header ul li a{
    text-decoration: none;
    color: black;

}

.logo img {
    width: 100px;
    margin-top: -40px;
}

.body {
    width: 100%;
    height: 70%;
    margin-top: 130px;
    margin-left: 140px;
}

.text {
    width: 45%;
    float: left;
}

.text h1{
    font-size: 70px;
}

.text p{
    font-size: 23px;
    line-height: 30px;
    margin-top: 10px;
    width: 600px;
}

.background_pic {
    width:50%;
    float: right;
    margin-top: -250px;
}

.background_pic img {
    width: 70%;

}



/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #B7B7A4;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
   
}

input[type=button] {
  background-color: #72a797;

  color: white;
font-size: 20px;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
    border-radius: 20px;
}

input[type=button]:hover {
  background-color: #eb8888;
}

/* Style the container/contact section */
.formz {
  border-radius: 5px;
  background-color: #FFFFFF;
  padding: 10px;
}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 40%;
  margin-top: 6px;
  padding: 10px;
    margin-left: -50px;
    
/*    background-color: black;*/

}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.row {
    background-color: white;
}
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, .body, .text, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
